<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Login{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    {% block extra_css %}{% endblock %}
  </head>
  <body class="">
    <div class="">
      {% block content %}
      <!-- Content will be injected here -->
      {% endblock %}
    </div>
  </body>
</html>
