{% extends "network/layout2.html" %} {% load static %} {% block title %} Sign In
| Network {% endblock %} {% block content %}
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <div class="text-center mb-10">
    <h3 class="text-3xl font-bold">Log in to Network</h3>
  </div>

  <form
    action="{% url 'login' %}"
    method="post"
    id="signin-form"
    class="bg-white p-6 rounded-lg shadow-md w-full max-w-sm"
  >
    {% csrf_token %}
    <div class="mb-4">
      <input
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        type="text"
        name="username"
        placeholder="Username"
        autocomplete="off"
        autofocus
        required
      />
    </div>
    <div class="mb-4">
      <input
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
        type="password"
        name="password"
        placeholder="Password"
        autocomplete="off"
        required
      />
      <span class="text-red-500"><small>{{ message }}</small></span>
    </div>
    <div class="flex justify-center mb-4">
      <input
        class="bg-blue-600 text-white rounded-lg px-4 py-2 hover:bg-blue-700 cursor-pointer transition duration-200"
        type="submit"
        value="Log in"
      />
    </div>
  </form>

  <div class="mt-4 text-center">
    <span
      >Don't have an account?&nbsp;&nbsp;<a
        href="{% url 'register' %}"
        class="text-blue-600 hover:underline"
        >Sign Up</a
      ></span
    >
  </div>
</div>
{% endblock %}
